# Database
DB_HOST=postgres-stalls
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=stalls_service

# Application
NODE_ENV=development
PORT=3002

# Service Communication
AUTH_SERVICE_HOST=ms-auth
AUTH_SERVICE_PORT=3001

# JWT (for local validation if needed)
JWT_SECRET=mi-clave-secreta-jwt-para-ferias